<div class="text-center">
  <h1>Sign up</h1>
</div>
<%= form_with(model: @user, local:true) do |f|%>
  <%if @user.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @user.errors.full_messages.each do |msg|%>
          <li><%=msg%></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <ul>
  <li>
    <%=f.label :name, 'Name'%>
    <%= f.text_field :name%>
  </li>
  <li>
    <%= f.label :email, 'Email' %>
    <%= f.email_field :email%>
  </li>
  <li>
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password%>
  </li>
  <li>
    <%= f.label :password_confirmation, 'Confirmation' %>
    <%= f.password_field :password_confirmation %>
  </li>
  <li>
    <%= f.submit 'Sign up'%>
  </li>
<% end %>